{# src/Blogger/BlogBundle/Resources/views/Page/inregistrare.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}


{% block title %}Cocos{% endblock%}

{% block body %}
<center>
    <header>
        <h1>Inregistrare</h1>
    </header>
	
{{ form_start(form) }}
    {{ form_row(form.nume) }}
	{{ form_row(form.prenume) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Inregistrare!</button>
{{ form_end(form) }}

</center>

{% endblock %}