
{# src /Blogger/BlogBundle/Resources/views/Admin/default/index.html.twig #}
{% extends 'BloggerBlogBundle:Admin:base.html.twig' %}


{% block contentHeader %}
     Artciole <small>lista articole</small>
{% endblock %}
{% block body %}
	<div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Articole</h3>
                    <div class="box-tools">
                        <a href="{{ path('BloggerBlogBundle_admin_blog_add') }}" class="btn btn-box-tool" data-toggle="tooltip" title="Create" data-widget="chat-pane-toggle" data-original-title="Create"><i class="fa fa-plus"></i> Create</a>
                    </div>
                </div>
                
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Id</th>
                                <th>Titlu</th>
                                <th>Autor</th>
                                <th>Tags</th>
                                <th>Data</th>
                                <th>&nbsp;</th>
                            </tr>  
							{% for blog in blogs %}
                                <tr>
                                    <td>{{ blog.id }}</td>
                                    <td><a href="{{ path('BloggerBlogBundle_admin_blog_show', { 'id': blog.id }) }}">{{ blog.title }}</a></td>
                                    <td>{{ blog.author }}</td>
                                    <td>{{ blog.tags }}</td>
                                    <td>{{ blog.created|date('Y-m-d h:m') }}</td>

                                    <td class="text-right">
                                        <a href="{{ path('BloggerBlogBundle_admin_blog_show', { 'id': blog.id }) }}" class="btn btn-success btn-xs">view</a>
                                        <a href="{{ path('BloggerBlogBundle_admin_blog_edit', { 'id': blog.id }) }}" class="btn btn-warning btn-xs">edit</a>
                                        <a href="{{ path('BloggerBlogBundle_admin_blog_delete', { 'id': blog.id }) }}" class="btn btn-danger btn-xs confirm-action">delete</a>
                                    </td>
                                </tr>
                                {% else %}
								<p>Nu sunt articole</p>
							{% endfor %}
                        </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}