
{# src /Blogger/BlogBundle/Resources/views/Admin/default/index.html.twig #}
{% extends 'BloggerBlogBundle:Admin:base.html.twig' %}


{% block contentHeader %}
     Artciole <small>lista articole</small>
{% endblock %}
{% block body %}
<div class="row">
        <section class="col-lg-12">
            <div class="nav-tabs-custom">
                
                <div class="tab-content">
                    <div class="tab-pane active">
						<div class="row">
                            <div class="col-md-12">
                                <dl class="dl-horizontal">
                                    <dt>Titlu articol</dt>
                                    <dd>{{ blog.title }}</dd>
                                </dl>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt>Autor</dt>
                                    <dd>{{ blog.author }}</dd>
                                </dl>
                            </div>
							<div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt>Tags</dt>
                                    <dd>{{ blog.tags }}</dd>
                                </dl>
                            </div>
						    <div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt>Data</dt>
                                    <dd>{{ blog.created|date('Y-m-d h:m') }}</dd>
                                </dl>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-md-12">
                                <dl class="dl-horizontal">
                                    <dt>Continut</dt>
                                    <dd>{{ blog.blog }}</dd>
                                </dl>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
							<div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt></dt>
									<dd></dd>
                                </dl>
                            </div>
                        </div>
                        <hr>
                        <div class="clearfix">
						    <div class="pull-right">
                                <a href="{{ path('BloggerBlogBundle_admin_blog_edit', { 'id': blog.id }) }}" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}