<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Lukacs Page</title>
<link href="{{ asset('bundles/lukacslukacs/css/styles.css') }}" rel="stylesheet" type="text/css"  />
</head>

<body>

<table id='table' width="600" border="0" style="color:#000000">
  <tr>
      <td><a href="{{ relative_path('http://127.0.0.1/LUKACS/pabd/web/app_dev.php/pabd/lukacs/page1/Adrian') }}">Pagina Principala</a></td>
         <td><a href="{{ relative_path('http://127.0.0.1/LUKACS/pabd/web/app_dev.php/pabd/lukacs/page2/Adrian') }}">Profil</a></td>
 
      <td><a href="#">Contact</a></td>
  </tr>
  <tr>
    <td><h1 id="popUp"></h1></td>
  </tr>
 
  <tr>
    <td>       
<h3>Trimite-mi un mesaj : </h3>
        
        <span class="subiect"> {{ form_row(form.subiect) }}</span>
        <span class="mesaj">  {{ form_row(form.mesaj) }}</span>
        <span class="email">  {{ form_row(form.email) }}</span>
        <span class="telefon">  {{ form_row(form.telefon) }}</span>
        <input type="submit" value="Submit">
        </form>
	</td>
      
  </tr>
    
</table>
        
</body>
  
<script type="text/javascript" src="{{ asset('bundles/lukacslukacs/js/main.js') }}"></script>
</html>
