{# src /Blogger/BlogBundle/Resources/views/Admin/contact/index.html.twig #}
{% extends 'BloggerBlogBundle:Admin:base.html.twig' %}

{% block body %} 
	    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Contact</h3>
                </div>
                
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Nume</th>
                                <th>Email</th>
                                <th>Subiect </th>
                                <th>Data</th>
                                <th>&nbsp;</th>
                            </tr>
                            {% for contact in contacte %}
                                <tr>
                                    <td>{{ contact.name }}</td>
                                    <td><a href="{{ path('BloggerBlogBundle_admin_contact_show', { 'id': contact.id }) }}"></a>{{ contact.email }}</td>
                                    <td>{{ contact.subject }}</td>
                                    <td>{{ contact.created|date('Y-m-d h:m') }}</td>
                                    <td class="text-right">
         
                                        <a href="{{ path('BloggerBlogBundle_admin_contact_show', { 'id': contact.id }) }}" class="btn btn-success btn-xs">view</a>
                                        <a href="{{ path('BloggerBlogBundle_admin_contacte_delete', { 'id': contact.id }) }}" class="btn btn-danger btn-xs confirm-action">delete</a>
                                    </td>
                                </tr>
                                {% else %}
								<p>Nu este nici un mesaj de contact</p>
							{% endfor %}
                        </table>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}